mat-card {
  width: fit-content;
  height: fit-content;
  margin: 2em auto;
  text-align: center;
}

  mat-icon {
    transform: scale(1.5);
  }

  mat-form-field {
    display: block;
    mat-hint {
      display: block;
      color: red;
      text-align: center;
    }
  }
 