<div class="mat-app-background">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>
        <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
  </mat-toolbar>

  <mat-card>
    <mat-tab-group mat-align-tabs="center">
      <!-- Login Form -->
      <mat-tab label="Login">
        <form [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput required formControlName="username" maxlength="14">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput required type="password" formControlName="password">
          </mat-form-field>
          <button mat-flat-button (click)="login()">Login</button>
        </form>
        {{loginForm.controls['username'].value}}
        {{loginForm.controls['password'].value}}
      </mat-tab>
      <!-- Register Form -->
      <mat-tab label="Register">
        <form [formGroup]="registerForm">
            <mat-form-field>
                <mat-label>IC Name</mat-label>
                <input matInput required formControlName="charname">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput required formControlName="username">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required type="password" formControlName="password">
              </mat-form-field>
              <mat-form-field *ngIf="registerForm.controls['password'].value">
                <mat-label>Password again, idiot</mat-label>
                <input matInput required type="password" formControlName="valpass" matTooltip="Fuck" [matTooltipDisabled]=matchValidator()>
              </mat-form-field>
        </form>
        <button mat-flat-button *ngIf="registerForm.valid && matchValidator()"  (click)="register()">Register</button>
        
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>

